<!doctype html>
<html>

<head>
	<title>Local Weather - FreeCodeCamp Frontend Certification</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	
	<div ng-app="localWeather" class="container">
		<div class="panel panel-default" ng-controller="ForecastCtrl as data">
			
			<div class="panel-heading" >
				<div class="row">
					<h2 style="line-height:40px;" class="col col-xs-12 col-sm-6 text-center panel-title">Local Weather Forecast</h2>
					<h2 style="line-height:40px;" class="col col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-6 panel-title text-center">{{data.current.place}}</h2>
				</div>
			</div>
			
			<div class="panel-body text-center">
				<div ng-if="!data.current.temperatureC && data.geoLocSupport" class="row">
					<div class="col col-xs-12">
						<p><i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i></p>
						<p>Figuring out where you are at and what's the weather like there</p>
					</div>
				</div>
				<div ng-if="!data.geoLocSupport" class="row">
					<div class="col col-xs-12">
						<p>Unfortunately, we couldn't figure out your position. Please enable geolocation support in your browser.</p>
					</div>
				</div>
				<div ng-if="data.current.temperatureC" class="row">
					<div class="col col-xs-12">
						<p>Current weather data</p>
					</div>
				</div>
			</div>
			
			<div id="current-weather" ng-if="data.current.temperatureC" class="panel-body text-center">
				<div class="row">
					<div class="col col-xs-12 col-sm-4"><img ng-src="{{data.current.icon}}"></div>
					<div ng-if="data.current.tempScale === 'C'" class="col col-xs-12 col-sm-4">{{data.current.temperatureC}} <a href='#' ng-click="data.current.tempScale = 'F'">°C</a></div>
					<div ng-if="data.current.tempScale === 'F'" class="col col-xs-12 col-sm-4">{{data.current.temperatureF}} <a href='#' ng-click="data.current.tempScale = 'C'">°F</a></div>
					<div class="col col-xs-12 col-sm-4">{{data.current.weather}}</div>
				</div>
			</div>
			
			<div class="panel-footer text-center">
				<img src="https://icons.wxug.com/logos/PNG/wundergroundLogo_4c_horz.png">
			</div>
		</div>
		<div class="text-center"><p>By <a href="https://github.com/relwiwa/FreeCodeCamp" title="Walter's FreeCodeCamp Code on Github">Walter</a> for <a href="https://www.freecodecamp.com/challenges/show-the-local-weather" title="FreeCodeCamp's Frontend Certification">FreeCodeCamp</a>'s Frontend Certification</div>
	<!-- /container --></div>
	
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
<script src="js/main.js"></script>
<script src="js/controller.js"></script>
<script src="js/services.js"></script>

</body>
</html>